PROJECT_NAME="Mening Backend Loyiham"
VERSION="1.0.0"

POSTGRES_SERVER="localhost"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="secretpassword"
POSTGRES_DB="fastapi_db"
POSTGRES_PORT="5432"

SECRET_KEY="1234567890qwertyuiopASDFGHJKL"
