body {
  overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -250px;
}

#sidebar-wrapper {
  min-height: 100vh;
  transition: margin 0.25s ease-out;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}
